body {
    background-color: #CCC;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body.night {
    background-color: #333;
    color: #FFF;
}

header.fixed {
    position: fixed;
    top: 0;
}

header.fixed div.content {
    border: none !important;
    border-radius: 0;
    margin: 0;
}

article img, article iframe {
    margin-bottom: 16px;
    margin-top: 8px;
}

footer {
    margin-bottom: 8px;
}

nav #logo {
    height: 18px;
}

div.content {
    background-color: #FFF;
    border: solid 1px #999;
    border-radius: 4px;
    box-shadow: 0 2px #CCC;
    margin: 8px 8px 0 8px;
    padding: 8px;
}

article div.content {
    margin-right: 0;
}

body.night div.content {
    background-color: #000;
    border: solid 1px #CCC;
    box-shadow: 0 2px #999;
}

span#controls, span#copyright {
    float: right;
}

span#controls {
    font-size: 12px;
}

span#controls > span {
    cursor: pointer;
}

span#controls > span > span.off {
    display: none;
}

body.night span#controls > span > span.on {
    display: none;
}

body.night span#controls > span > span.off {
    display: initial;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 16px;
}

h2 {
    font-size: 1.25em;
    margin-bottom: 8px;
}

article h2 {
    margin-top: 16px;
}

h3 {
    font-size: 1.125em;
    margin-bottom: 4px;
}

p {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 8px;
    text-align: justify;
}

p#cloud {
    text-align: center
}

a {
    color: #C03;
}

a:hover {
    color: #777 !important;
}


body.night a {
    color: #3FC;
}
