article, aside, footer, header {
    float: left;
}

article {
    width: calc(100% - 428px);
}

article img, article iframe,
aside img, aside iframe {
    display: block;
    margin: auto;
    max-width: 100%;
}

aside {
    width: 428px;
}

footer, header {
    width: 100%;
}

footer #privacy {
    bottom: 0;
    display: none;
    position: fixed;
    z-index: 1;
}

footer #privacy div.content button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

ol, ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

nav #logo, img.logo {
    vertical-align: bottom;
}

nav #tags_selector, footer span#copyright_mobile {
    display: none;
}

span.copy_to_clipboard {
    cursor: pointer;
}
