div.grid {
    display: grid;
    float: left;
    height: auto;
    position: relative;
    width: 100%;
}

div.grid.height_full {
    height: 100vh;
    overflow-y: hidden;
}

div.grid.width_25:not(.mobile):not(.small_mobile) {
    width: 25%;
}

div.grid.width_25:not(.mobile):not(.small_mobile):nth-child(4n+3) {
    clear: left;
}

div.grid.width_33:not(.mobile):not(.small_mobile) { /* to be tested for mobile */
    width: 33.333%;
}

div.grid.width_50:not(.mobile):not(.small_mobile) {
    width: 50%;
}

div.grid.width_66:not(.mobile):not(.small_mobile) { /* to be tested for mobile */
    width: 66.666%;
}

@media all and (max-width:1284px)
{
    div.grid.width_25:not(.mobile):not(.small_mobile) {
        width: 33.333% !important;
    }
    div.grid.width_25:not(.mobile):not(.small_mobile):nth-child(4n+3) {
        clear: none !important;
    }
    div.grid.width_25:not(.mobile):not(.small_mobile):nth-child(3n+3) {
        clear: left !important;
    }
}

@media all and (max-width:1070px)
{
    div.grid.width_25:not(.mobile):not(.small_mobile) {
        width: 50% !important;
    }
    div.grid.width_25:not(.mobile):not(.small_mobile):nth-child(3n+3) {
        clear: none !important;
    }
    div.grid.width_25:not(.mobile):not(.small_mobile):nth-child(2n+1) {
        clear: left !important;
    }
}

@media all and (max-width:856px)
{
    div.grid.width_50.mobile {
        width: 50%;
    }
}

@media all and (max-width:428px)
{
    div.grid.width_25:not(.mobile):not(.small_mobile),
    div.grid {
        width: 100% !important;
    }
}
